html {
    background-color: #ffffff;
    scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: none;
  box-sizing: border-box;
  display:flex;

}

/* 

font-family: 'Merriweather', serif;
font-family: 'Nunito Sans', sans-serif;

*/


/* ----- navigation ----- */



/* text style */

h1 {
  font-family: 'Merriweather', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 100px;
  line-height: 110%;
}

/* h1 fluid font-size */

 @media screen and (min-width: 300px) {
    h1 {
      font-size: calc(55px + (100-55) * ((100vw - 300px) / (3360-300)));
    }
}

h2{
  
}

p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px; 
  font-kerning: normal;
  line-height: 22px;
  text-align: left;
}

header {
    position: fixed;
    width: 100%;
    min-height: 60px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
}

.logo {
    display: inline-flex;
    align-items: center;
    justify-content: start;
}

#header-img {
    width: 64px;
    height: 64px;
}

nav {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

a.nav-link {
    color: #232021;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}

a.nav-link:hover {
  color: #1500FE;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    padding: 0 20px;
}

section {
    padding: 100px 0 0;
}

.flex-container {
  display: flex;
  border: solid 1px blue;
}



h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.3px; 
    line-height: 30px; 
}



ul {
    list-style: outside;
    margin-left: 1em;
}

.button {
    padding: 0 16px;
    height: 32px;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    background-color: #303f9f;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: #3f51b5;
}

input[type="email"] {
    width: 100%;
    min-height: 40px;
    max-width: 480px;
    padding: 4px 8px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    display: block;
    margin: 5px auto;
}

input[type="submit"] {
    margin-top: 8px;
}

#video {
    width: 560px;
    height: 315px;
    margin: 20px auto;
    display: block;
}





